02.CLIESC/ConUni_Soap_Dotnet_ClienteEscritorio_Gr06/Connected Services/ConversionServiceReference1/Conversion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50176/ec.edu.monster.controlador/Conversion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ec.edu.monster.modelo" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ec.edu.monster.modelo" minOccurs="0" name="credentials" nillable="true" type="q1:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirCelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirCelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirCelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirFahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirFahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirFahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>